* {
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
  background-size: cover;
  padding: 50px 0;
}


td, th {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 8px;
  text-align: center;
}

table {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 12px;
  height: 800px;
  max-width: 100%;
  white-space: wrap;
  width: 100%;
}

td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

thead th {
  background: #c5c5c5;
  color: black;
}

thead th:nth-child( odd ) {
  background: #9e9e9e;
  color: black;
}

tr:nth-child( even ) {
  background: #f8f8f8;
}

.search, .column-filter, .value, .comparison, .filter, .delete-all-filters, .option {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: rgb(231, 230, 230);
  margin-bottom: 20px;
  padding: 10px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

